@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f9fa;
}


a {
    text-decoration: none;
    color: gray;
}

li{
    list-style-type: none;
}

header{
    font-size: 14px;
    height: 20px;
    background-color: gray;
    color: white;
}

.navbar .navbar-nav .nav-link {
    color: black;
    font-weight: 600;
    font-size: 18px;
}

.navbar .navbar-nav .nav-link.active{
    color: red;
}

.navbar .navbar-brand{
    color: red;
    font-size: 24px;
    font-weight: 700;
}

.navbar .navbar-brand:hover{
    color: rgb(206, 0, 0);
}

.nav-icons{
    font-size: 22px;
}

.qty-count:hover{
  color: #000;
  cursor: pointer;
}
.cart-menu {
  width: 300px;
  position: absolute;
  right: 200px;

}

.fa-circle-xmark{
  color: red;
  margin: auto;
  cursor: pointer;
}

.desc{
  font-size: 14px;
}

.track{
  position: relative;
  background-color: rgb(177, 177, 177);
  height: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem;
  margin-top: 3rem;
  width: 600px;
}

.track .step{
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 25%;
  margin-top: -1rem;
  text-align: center;
  position: relative;
}

.track .step.active:before{
  background: #FF5722
}

.track .step::before{
  height: 7px;
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  top: 1rem;
}

.track .step.active .icon{
  background: #ee5435;
  color: #fff;
}

.track .icon{
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: relative;
  border-radius: 100%;
  background: rgb(177, 177, 177);
}

.track .step.active .text{
  font-weight: 400;
  color: #000;
}

.track .text{
  display: block;
  margin-top: 7px;
}






.card-registration .select-input.form-control[readonly]:not([disabled]) {
    line-height: 0.5;
    padding-left: .75em;
    padding-right: .75em;
    }
 
.card-registration .select-arrow {
    top: 13px;
    }


.payment-btn{
    padding: 0 40px;
}
